In [1]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.metrics import accuracy_score

Initially Lets define a function that gives us all the required values in the question.

In [2]:
#A function that takes in the SVM and the training and testing dataset and prints out various required fields
def SVM(clf, X_train, y_train, X_test, y_test):
    #First train the dataset
    clf.fit(X_train, y_train)                                   
    
    #Now lets look at the training accuracy
    train_predictions = clf.predict(X_train)                    
    train_accuracy = accuracy_score(y_train, train_predictions)
    train_error = 1 - train_accuracy
    print(f"The training error is : {train_error}")

    #Next lets look at the testing accuracy
    test_predictions = clf.predict(X_test)
    test_accuracy = accuracy_score(y_test, test_predictions)
    test_error = 1 - test_accuracy
    print(f"The testing error is : {test_error}")

    #Finally lets print the number of support vectors
    no_of_support_vectors = sum(clf.n_support_)
    print(f"The number of support vectors is : {no_of_support_vectors}")

Using pandas to extract the training and testing dataset

In [3]:
X_train = pd.read_csv('gisette_train.data', sep='\s+', header=None)
X_train.head()

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/var/folders/mc/jb8s7cq1367dsr5fbqvwrdvm0000gn/T/ipykernel_27313/3449279537.py:1: SyntaxWarning: invalid escape sequence '\s'
  X_train = pd.read_csv('gisette_train.data', sep='\s+', header=None)

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,550,0,495,0,0,0,0,976,0,0,...,0,0,0,991,991,0,0,0,0,983
1,0,0,0,0,0,0,0,976,0,0,...,0,475,0,991,0,0,991,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,0,674,0,0,838
4,0,0,0,0,0,0,0,608,0,979,...,991,0,0,828,0,0,0,0,0,0

In [4]:
y_train = pd.read_csv('gisette_train.labels', header=None)
y_train.head()

   0
0  1
1 -1
2  1
3  1
4  1

In [5]:
print(X_train.shape)
print(y_train.shape)

(6000, 5000)
(6000, 1)

In [6]:
X_test = pd.read_csv('gisette_valid.data', sep='\s+', header=None)
X_test.head()

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/var/folders/mc/jb8s7cq1367dsr5fbqvwrdvm0000gn/T/ipykernel_27313/2762591552.py:1: SyntaxWarning: invalid escape sequence '\s'
  X_test = pd.read_csv('gisette_valid.data', sep='\s+', header=None)

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,688,0,0,0,0,0,0,952,0,870,...,0,0,0,0,0,0,494,0,769,0
1,778,758,0,0,0,0,0,708,0,991,...,0,0,0,770,0,0,0,0,0,0
2,469,0,816,0,0,0,0,0,0,0,...,0,0,0,467,0,0,0,417,0,0
3,0,0,0,0,0,571,991,983,0,983,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,949,0,991,...,0,0,0,0,0,0,0,0,976,0

In [7]:
y_test = pd.read_csv('gisette_valid.labels', header=None)
y_test.head()

   0
0  1
1  1
2 -1
3  1
4  1

In [8]:
print(X_test.shape)
print(y_test.shape)

(1000, 5000)
(1000, 1)

Part (a) : Working on the linear kernel

In [9]:
linear_svc = svm.SVC(kernel='linear')
SVM(linear_svc, X_train, y_train, X_test, y_test)

/opt/anaconda3/envs/cwq/lib/python3.12/site-packages/sklearn/utils/validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

The training error is : 0.0
The testing error is : 0.02400000000000002
The number of support vectors is : 1084

Analyzing the above results:
The training error is 0, which indicates that the data is well-separated by a linear hyperplane. Since there are no misclassifications, the loss function is 0, suggesting that the model is likely forming a hard margin.

I am futhermore claiming that this is not a case of overfitting because my testing error is also very low. If it were high, then maybe this could've been a case of overfitting.

Also this high accuracy shows that the model generalizes well to unseen data. The model seems to capture the general patterns in the data.

The high number of support vectors suggests that many points lie near the decision boundary, which can happen if the data is complex or less clearly separable. Although the model has a perfect fit on the training data, the large number of support vectors could indicate that the decision boundary is influenced by many points, making it more sensitive to the specifics of the training data.

Part (b)

In [10]:
#Training on rbf kernel function
rbf_svc = svm.SVC(kernel='rbf', gamma=0.001)
SVM(rbf_svc, X_train, y_train, X_test, y_test)

/opt/anaconda3/envs/cwq/lib/python3.12/site-packages/sklearn/utils/validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

The training error is : 0.0
The testing error is : 0.5
The number of support vectors is : 6000

Analyzing the above data:

Training error = 0 and testing error is 0.5, clearly it is overfitting. The model is not generalizing well enough. This model is as good as just guessing a value and is a very weak learner and may not be the best model to use.

A large number of support vectors may mean the decision boundary is very complex, attempting to fit every detail of the training data.

In [11]:
#Training on polynomial kernel function
polynomial_svc = svm.SVC(kernel='poly', degree=2, coef0=1)
SVM(polynomial_svc, X_train, y_train, X_test, y_test)

/opt/anaconda3/envs/cwq/lib/python3.12/site-packages/sklearn/utils/validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

The training error is : 0.0004999999999999449
The testing error is : 0.020000000000000018
The number of support vectors is : 1332

Analyzing the above results:

We can see that the training error is very low and testing error too is quite low (just 2%). Therefore this is a much better model that the rbf kernel.

The number of support vectors is relatively lower than in the RBF case (6000). This suggests a more balanced model that is less complex, which can contribute to better generalization.